/* Master CSS file */
.App {
  text-align: center;
}

.App-logo {
  padding: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@font-face {
  font-family: AlexisMarie;
  src: url('./assets/AlexisMarie.ttf') format('truetype');
}

@font-face {
  font-family: p5hatty;
  src: url('./assets/p5hatty.ttf') format('truetype');
}

body {
  margin: 0;
  background-color: #000000;
}

.navbar{
  overflow: hidden;
  background-color: #333;
}

.navbar button:hover {
  background-color: #007acc; /* darker blue */
  color: white;
}

.navbar button.active {
  background-color: #0099ff; /* blue */
  color: white;
}

/* navbar links */
.navbar button {
  float: left;
  display: block;
  border: none;
  background-color: #333;
  color: #efefef;
  text-align: center;
  padding: 14px 16px;
  font-size: 19px;
  font-family: p5hatty;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.mid {
  display: block;
  padding: 200px 0px;
  margin-left: auto;
  margin-right: auto;

  font-size: 50px;
  font-family: AlexisMarie;
  text-align: center;
}

.about {
  display: block;


  font-size: 50px;
  font-family: p5hatty;
  color: #efefef;
  text-align: center;
}

.container > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    pointer-events: none;
    justify-content: start!important;
    font-family: 'Kanit', sans-serif;
    line-height: 0px;
    text-transform: uppercase;
}

.number {
    font-size: 300px;
    color: #545864;
}

.number span {
    display: inline-block;
    position: relative;
    transform: translate3d(-35%, 0, 0);
}

.header {
    display: flex;
    justify-content: center!important;
    align-items: center;
    font-size: 50px;
    color: white;
}

.stripe {
    height: 2px;
    width: auto;
}

.slopeBegin {
    background-color: #20232f;
    clip-path: polygon(20% 0, 70% 0, 50% 100%, 0% 100%);
}

.slopeEnd {
    clip-path: polygon(70% 0, 100% 0, 80% 100%, 50% 100%);
}

.slopeBegin,
.slopeEnd {
    position: absolute;
    width: 170%;
    height: 100%;
    cursor: pointer;
}
