/* Master CSS file */

.App {
  text-align: center;
}

/*LoFiAi logo*/
.App-logo {
  padding: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@font-face {
  font-family: p5hatty;
  src: url('./assets/p5hatty.ttf') format('truetype');
}

/* About page text*/
.about {
  display: block;
  font-size: 35px;
  font-family: p5hatty;
  color: #efefef;
  text-align: left;
}

/* Body*/
body {
  margin: 0;
  background-color: #000000;
}

/* Used to create line breaks in <p> elements in a parallax layer*/
.display-linebreak {
  white-space: pre-line;
}

/* Navbar*/
.navbar{
  overflow: hidden;
  background-color: #333;
}

/* Used when the mouse is over a navbar button*/
.navbar button:hover {
  background-color: #53a66a;
  color: white;
}

/* Navbar links */
.navbar button {
  float: left;
  display: block;
  border: none;
  background-color: #333;
  color: #efefef;
  text-align: center;
  padding: 14px 16px;
  font-size: 19px;
  font-family: p5hatty;
}

/* Used for the volume slider*/
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #efefef;
  outline: none;
}

/* Knob on volume slider*/
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 15px;
  border: 0;
  background: url('./assets/volume.svg');
  background-size: cover;
  cursor: pointer;
}

/* Track name and timer display in navbar*/
.trackName{
  color: #efefef;
  font-family: "p5hatty";
  font-size: 19px;
  float: "left";
  position: absolute;
  right: 13%;
  top: 0%;
}

/* Learning with LoFi Section*/
.accordion {
  -webkit-box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
  -moz-box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
  box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
  font-family: Arial, Helvetica, sans-serif;
  border-color: #30bb64;
  border-style: solid;
  border-width: 0px;
  border-radius: 21px;
  margin: 0;
  height: 74%;
  width: 80%;
}

.accordion > ul > li,
.accordion-title,
.accordion-content,
.accordion-separator {
  float: left;
}

.accordion > ul > li {
  background-color: #1f8245;
  margin-right: -600px;
  margin-bottom: -0px;
}

.accordion-select:checked ~ .accordion-separator {
    margin-right: 600px;
    margin-bottom: 0px;
}

.accordion-title,
.accordion-select  {
  background-color: #0000ff;
  color: #ffe2e2;
  width: 40px;
  height: 500px;
  font-size: 15px;
}

.accordion-title span {
  margin-bottom: 20px;
  margin-left: 20px;
}

.accordion-select:hover ~ .accordion-title,
.accordion-select:checked ~ .accordion-title {
  background-color: #1b6c3a;
}

.accordion-title span  {
  transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -ms-writing-mode: lr-bt;
  writing-mode: lr-bt;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  margin-left: 0px;
  line-height: 40px;
}

.accordion-content {
  background-color: #1d1d1d;
  color: #ffffff;
  height: 452px;
  width: 552px;
  padding: 24px;
}

.accordion-title,
.accordion-select:checked ~ .accordion-content {
  margin-right: 1px;
  margin-bottom: 1px;
}

/* Do not change following properties, they aren't
generated automatically and are common for each slider. */
.accordion {
  overflow: hidden;
}

.accordion > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 101%;
}

.accordion > ul > li,
.accordion-title {
  position: relative;
}

.accordion-select {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1;
}

.accordion-title span {
  display: block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  white-space: nowrap;
}

.accordion-content {
  position: relative;
  overflow: auto;
}

.accordion-separator {
  transition: margin 0.3s ease 0.1s;
  -o-transition: margin 0.3s ease 0.1s;
  -moz-transition: margin 0.3s ease 0.1s;
  -webkit-transition: margin 0.3s ease 0.1s;
}
a {
    text-decoration: none;
}
a:link, a:visited {
    color: #53a66a;
}
a:hover {
    color: #FF9B23;
}
